@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
$orange: hsl(25, 97%, 53%);
$lightgrey: hsl(217, 12%, 63%);
$mediumgrey: hsl(216, 12%, 54%);
$blue: hsl(213, 19%, 18%);
$dark: hsl(216, 12%, 8%);