.popup-preview{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top:  0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    z-index: 5;
}
.close-button{
    color: red;
    // float: right;
    margin-bottom: 2rem;
    margin-right: 1rem;
    align-self: flex-end;
    width: 2rem;
    filter: brightness(0) invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(104%) contrast(101%);
    transition: 300ms;
    cursor: pointer;
    &:hover{
        filter: invert(74%) sepia(49%) saturate(5885%) hue-rotate(345deg) brightness(100%) contrast(95%);
    }
}
.popup-main{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    min-width: 40rem;
}
.popup-image{
    width: 100%;
    border-radius: 1rem;
}
.popup-tumbnails{
    display: flex;
    max-width: 30%;
    min-width: 40rem;
}
.popup-tumbnail{
    width: 25%;
    margin: 1.5rem;
    border-radius: 0.6rem;
}

.popup-active {
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
}

.flexbox{
    display: flex;
    align-items: center;
}
.popup-previous-button,
.popup-next-button{
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:  5rem;
    height: 4rem;
    z-index: 10;
}

.popup-previous-button{
    margin-right: -2rem;
}
.popup-next-button{
    margin-left: -2rem;
}